body {
    background-color: black;
}

.banner-container {
    display: block;
    margin: 0 auto;
    height: 171px;
    width: 1471px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    height: 325px;
    bottom: 0;
}

.trippy-kitty {
    width: 100%;
    height: 324px;
}